cluster_name="demo"
email="exampleemal.com"
operator_version="2.12.1"
node_selector="elk"
gcp_project_id="your_example_project"
clusterName="demo"
elastic_user_password="ZKzPgIKt3lp5EG8JtuS8KzJFOUM"
fqdn="example.com"
HostEmail="exampleemal.com"
